.mat-toolbar {
    background-color: whitesmoke; //#FAFAFA;
    text-align: center;
    height: 130px;
    flex-wrap: wrap;

    .leftSpan {
        flex: 1;
        flex-direction: row;
        display: flex;
        user-select: none;

        .menuButtonDiv {

            .menuButton {
                border: none;
                background-color: whitesmoke;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 10vw;
                text-align: center;
                display: inline-block;
                font-size: 20px;
                cursor: pointer;
                transition: .4s ease;
                border-bottom: 1px solid black;

                position: relative;
                right: 16px;
                top: 41px;
            }

            .menuButton:hover {
                transition: .4s ease;
                border-bottom: 4px solid black;
                background-color: rgb(200, 200, 200);
            }

        }
    }

    .rightSpan {
        flex: 1;
        flex-direction: row-reverse;
        display: flex;

        .mediaButton {
            position: relative;
            top: 35px;
        }
    }

    .titleSpan {
        cursor: pointer;
        flex: 1 1 auto;
        font-weight: 500;
        letter-spacing: 0.1em;
        user-select: none;
        font-family: 'Virgo';
        font-size: 2.5em;

    }

}

@font-face {
    font-family: 'Virgo'; /*a name to be used later*/
    src: 
        local('Virgo 01'), /*URL to font*/
        url('https://astrophelsgunpla.neocities.org/assets/virgo.ttf');
}