<mat-toolbar>
    <span class="leftSpan"></span>
    <span class="titleSpan">ASTROPHEL'S GUNPLAS</span>
    <span class="rightSpan">
        <button mat-icon-button matTooltip="Share it!" color="primary">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button matTooltip="My Twitter" color="primary">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button matTooltip="My Bluesky" color="primary">
            <mat-icon>favorite</mat-icon>
        </button>
    </span>
</mat-toolbar>