
.mat-toolbar {
    background-color: #FAFAFA;
    text-align: center;
    height: 16.75vh;
    font-size: 5vh;
    letter-spacing: 0.1em;
    flex-wrap: wrap;

    .leftSpan {
        flex: 1;
    }

    .rightSpan {
        flex: 1;
        flex-direction: row-reverse;
        display: flex;
    }

    .titleSpan {
        cursor: pointer;
        flex: 1 1 auto;
        font-weight: 500;
    }

}