<div class="conteneur">
    <div class="sideSpan"></div>
    <div class="middleSpan">
        <span class="titleSpan">Website link</span>
        <span class="textSpan">Wanna put a link to my personnal site on your own?</span>
        <span class="textSpan">You can do it with a stylish and retro look by integrating the web button below! Just
            copy-paste the code into your page!</span>
        <div style="padding: 15px;">
            <mat-accordion>
                <mat-expansion-panel class="codeDisplay">
                    <mat-expansion-panel-header style="background-color: whitesmoke;">
                        <mat-panel-title style="user-select: none; flex-grow: 0.2;"> Click here! </mat-panel-title>
                        <mat-panel-description><img src="..\..\assets\astro_web_button.png" /></mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="position: relative; top: 15px;">
                        <pre>
&lt;a href="https://astrophelsgunpla.neocities.org/" target="_blank">
    &lt;img alt="Astrophel's Gunpla" src="https://astrophelsgunpla.neocities.org/assets/astro_web_button.png">
&lt;/a>
<span style="color: rgb(0, 203, 0);">&lt;!-- It's still your responsibility to integrate it properly tho ;) --></span>
                        </pre>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="sideSpan"></div>
</div>