.float {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible;

    .upButton {
        width: 2.5em;
        height: 2.5em;
        border: 1px solid white;
        background-color: rgb(146, 146, 146);

        .upIcon {
            display: flex;
            justify-content: center;
            color: whitesmoke;
        }
    }
}