.grille {
    flex: 0 0 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

    .titleSpan {
        flex: 1 1 auto;
        font-size: 3em;
        padding: 25px;
        justify-content: center;
    }
    
    .noticeSpan {
        flex: 1 1 auto;
        font-weight: 300;
        font-size: 2vh;
        justify-content: center;
    }
    
    mat-grid-list {
        mat-grid-tile {
    
            img {
                object-fit: fill;
                max-width: 100%;
            }
    
        }
    }
}
