<div class="conteneur">
    <div style="flex: 1;"></div>
    <div class="grille">
        <span class="noticeSpan">As of now the images may take some time to load so don't worry if you get a blank page and just wait a few seconds.</span>
        <span class="noticeSpan">I'll work on this issue soon!</span>
        <span class="titleSpan">{{modelInfo.modelName}}</span>
        <mat-grid-list cols={{modelInfo.nbGridCols}} gutterSize="10px" rowHeight={{modelInfo.aspectRatio}}>
            @for (image of modelImages; track image) {
                <mat-grid-tile [colspan]="image.nbCols" [rowspan]="image.nbRows"><img src={{image.imgLink}}></mat-grid-tile>
            }
        </mat-grid-list>
    </div>
    <div style="flex: 1;"></div>
</div>
<app-up-button></app-up-button>