.main_div{
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    font-size: xx-large;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
}

.text{
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
}

.image {
    height: auto;
    max-height: 700px;
}