.mat-toolbarBase {
    background-color: whitesmoke; //#FAFAFA;
    text-align: center;
    height: 130px;
    flex-wrap: wrap;

    .leftSpan {
        flex-direction: column-reverse;

        .menuButtonDiv {
            .menuButton {
                padding-top: 10px;
                padding-bottom: 10px;
                transition: .4s ease;
                border-bottom: 1px solid black;
                font-size: 20px;
            }

            .menuButton:hover {
                transition: .4s ease;
                border-bottom: 4px solid black;
                background-color: rgb(200, 200, 200);
            }

        }
    }


    .rightSpan {
        flex-direction: row-reverse;

        .mediaButton {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    .titleSpan {
        cursor: pointer;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-family: 'Virgo';
        flex-wrap: wrap;
    }

}

.mat-toolbarLandscape {

    .sideSpanHeader {
        flex: 1 1 15%;
        display: flex;
        user-select: none;
    }

    .leftSpan {
        .menuButtonDiv {
            .menuButton {
                width: 10vw;
                position: fixed;
                left: 0;
                top: 85px;
            }
        }
    }


    .rightSpan {
        .mediaButton {
            position: relative;
            top: 35px;
        }
    }

    .titleSpan {
        flex: 1 1 auto;
        font-size: 3em;
    }
}

.mat-toolbarPortrait {
    padding: 0;

    .sideSpanHeader {
        flex: 1 1 30%;
        display: flex;
        user-select: none;
    }

    .leftSpan {
        position: absolute;
        top: 85px;
        z-index: 10;
        .menuButtonDiv {
            .menuButton {
                width: 30vw;
            }
        }
    }

    .rightSpan {
        position: absolute;
        right: 4px;
        z-index: 10;
        .mediaButton {
            display: flex;
            flex-direction: column;
        }
    }

    .titleSpan {
        position: absolute;
        top: 15px;
        width: 100vw;
        font-size: 2em;
        flex: 1 1 40%;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

}