<div class="conteneur">
    <div class="sideSpan"></div>
    <div class="grille">
        <span class="noticeSpan">As of now the images may take some time to load so don't worry if you get a blank
            page and just wait a few seconds.</span>
        <span class="noticeSpan">I'll work on this issue soon!</span>
        <mat-grid-list cols="2" gutterSize="10px" rowHeight="4:3">
            @for (model of modelsList; track model) {
            <mat-grid-tile><img src={{model.imgLink}}><span (click)="navigateToModelPage(model.pageLink)"
                    class="tileText">{{model.name}}</span></mat-grid-tile>
            }
        </mat-grid-list>
    </div>
    <div class="sideSpan"></div>
</div>
<app-up-button></app-up-button>