.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 78.5vh;

    .sideSpan {
        flex: 1 100 10%;
    }

    .grille {
        flex: 0 0 80vw;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .noticeSpan {
        flex: 1 1 auto;
        font-weight: 300;
        font-size: 2vh;
        text-align: center;
        justify-content: center;
    }

    .titleSpan {
        flex: 1 1 100%;
        font-weight: 500;
        user-select: none;
        text-align: center;
        font-size: 3em;
        padding: 10px;
        height: fit-content;
        font-family: 'Heavy Data';
        letter-spacing: 0.1em;
    }

    mat-grid-list {
        padding-top: 10px;
        mat-grid-tile {
            //background: lightblue;
            border-radius: 10px;
            place-content: center;
            display: flex;
            flex-direction: column;

            .tileText {
                cursor: pointer;
                background-color: rgba(128, 128, 128, 0.7);
                align-items: center;
                justify-content: center;
                text-align: center;
                display: inline-flex;
                font-size: x-large;
                font-weight: 400;
                opacity: 0;
                transition: .4s ease;
                z-index: 21;
                color: whitesmoke;
                height: 100%;
                width: 100%;
                font-size: 5vh;
            }

            .tileText:hover {
                opacity: 1;
                transition: .4s ease;
            }

            img {
                object-fit: contain;
                max-height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

        }
    }
}

@font-face {
    font-family: 'Heavy Data';
    /*a name to be used later*/
    src:
        local('Heavy Data'),
        url('https://astrophelsgunpla.neocities.org/assets/heavy_data.ttf');
}