<div class="conteneur">
    <div style="flex: 1;"></div>
    <div class="grille">
        <mat-grid-list cols="2" gutterSize="10px" rowHeight="4:3">
            <mat-grid-tile><img src="https://i.ibb.co/nkPy6k8/AM-719.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="https://i.ibb.co/b2JVf59/SDCS-Gundam-Zeta-3.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="https://i.ibb.co/6t8WtjB/RE-100-Bawoo-3.jpg"></mat-grid-tile>
            <mat-grid-tile><img src="https://i.ibb.co/HnhvTwr/MG-EXIA-Dark-Matter.jpg"></mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div style="flex: 1;"></div>
</div>
<app-up-button></app-up-button>