.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .grille {
        flex: 1 1 80%;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    mat-grid-list {
        mat-grid-tile {
            background: lightblue;
            border-radius: 10px;

            img {
                object-fit: contain;
                max-height: 100%;
            }

        }
    }
}